

@font-face {
  font-family: 'Sonsie One';
  src: url('../style/Sonsie_One/SonsieOne-Regular.ttf') format('truetype');
}


.meter {
  height: 20px;
  width: 200px;
  position: relative;
  border: 1px solid #ccc;
}

.bar {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background: green;
  -webkit-transition: all ease-out 0.250s;
}


#Oscilador, #Microfone {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px 10px 30px;
    padding: 2px 6px 6px;
    box-shadow: 1px 1px 3px #ccc;
    background-color: #ebedf0;
    background-image: url('bg/feature-background.jpg');
    background-repeat: repeat-x;
}
   

#niveis_do_microfone  input {
    display: block;
}



#titulo {
    font-family: 'Sonsie One' !important;
    display: block;
    text-align: center;
    color: #a91e1c;
}

body {
    background-repeat: repeat-x !important;
    background-image: url('bg/header-left.jpg') !important;
    background-color: #28292b !important;
}